<section class="section-tours">
  <div class="u-center-text umagrin-bottom-big">
	  <h2 class="heading-secondary">Most popular tools</h2>
  </div>
  <div class="row">
	  <div class="col-1-of-3">
      <div class="card">
        <div class="card-side card-side-front card-side-front-1">
          Front
        </div>
        <div class="card-side card-side-back card-side-back-1">
          Back
        </div>
      </div>
    </div>
	  <div class="col-1-of-3">Column 2</div>
	  <div class="col-1-of-3">Column 3</div>
  </div>
</section>