<section class="section-tours">
  <div class="u-center-text umagrin-bottom-big">
	  <h2 class="heading-secondary">Most popular tools</h2>
  </div>
  <div class="row">
	  <div class="col-1-of-3">
      <div class="card">
        <div class="card-side card-side-front card-side-front-1">
          <div class="card-picture card-picture-1">
          </div>
          <h4 class="card-heading">
            <span class="card-heading-span card-heading-span-1">
              The Sea Expolrer
            </span>
          </h4>
          <div class="card-details">
            Details
          </div>
        </div>
        <div class="card-side card-side-back card-side-back-1">
          Back
        </div>
      </div>
    </div>
	  <div class="col-1-of-3">
      <div class="card">
        <div class="card-side card-side-front card-side-front-1">
          <div class="card-picture card-picture-2">

          </div>
          <h4 class="card-heading"></h4>
          <div class="card-details"></div>
        </div>
        <div class="card-side card-side-back card-side-back-2">
          Back
        </div>
      </div>
    </div>
	  <div class="col-1-of-3">
      <div class="card">
        <div class="card-side card-side-front card-side-front-1">
          <div class="card-picture card-picture-3">

          </div>
          <h4 class="card-heading"></h4>
          <div class="card-details"></div>
        </div>
        <div class="card-side card-side-back card-side-back-3">
          Back
        </div>
      </div></div>
  </div>
</section>